.card {
    height: 60vh;
    margin: 25px;
    padding: 25px;
}

.center img {
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
    height: 162px;
    width: 250px;
    margin: 20px 0px;
}

h4,
h6 {
    font-weight: 400;
}

h1 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 10px;
  }
  
.table th {
    font-weight: bold;
    color: #555;
  }

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.card-table {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: none;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: .25rem;
}

.center .btn {
    font-size: 14px !important;
    margin-top: 20px !important;
    font-weight: 400;
    padding: 12px 72px;
    border-radius: 3px !important;
}

.btn-comprar{
    color: green;
}

.registro {
    color: #333;
    max-width: 130px;
  }


.container{
    background-color: #fff;
    border-radius: 4px;
    margin: 20px auto;
    max-width: 800px;
    padding: 30px;
  }

.table tr {
    border-bottom: 1px solid #ccc;
  }

.total{
    font-weight: bold;
    color: #555;
  }

  .acciones > *:not(:last-child) {
    margin:0px 20px;
  }
  
  .item-cantidad{
    text-align: center;
  }
