<ng-container *ngIf="products.length !=0">
    <div class="container">
        <div class="card-table shadow-sm rounded">
            <div class="cart-product">
                <h1>Detalles</h1>
                <table class="table table-responsive table-hover">
                    <thead>
                        <tr>
                            <th>Lista</th>
                            <th>Producto</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of products; let i = index">
                            <td>{{i+1}}</td>
                            <td class="registro">{{item.nombre}}</td>
                            <th class="registro" style="width: 12%;">{{item.precioUnitario}}</th>
                            <td class="registro item-cantidad" style="width: 12%;">{{item.quantity}}</td>
                            <td><button mat-icon-button color="warn" (click)="removeItem(item)" class="btn-delete"><mat-icon>delete</mat-icon></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
                <div class="acciones">
                    <strong class="total">Total : ${{grandTotal}}</strong>
                    <button mat-icon-button color="warn" (click)="emptycart()"><mat-icon>delete</mat-icon></button>
                    <button mat-icon-button color="primary" [routerLink]="['/home']"><mat-icon>store</mat-icon></button>
                    <button mat-icon-button class="btn-comprar" (click)="toggleCheckoutForm()"><mat-icon>shopping_cart</mat-icon></button>
                </div>
                <div *ngIf="showCheckoutForm">
                    <div class="form-group w-25 m-2">
                      <label for="tipoRetiro">Tipo de retiro</label>
                      <select class="form-control form-select" id="tipoRetiro" [(ngModel)]="orden.tipoRetiro">
                          <option [value]="null" disabled selected>Seleccione</option>
                          <option value="Envio">Envío</option>
                          <option value="Sucursal">En Sucursal</option>
                      </select>
                    </div>
                    <div *ngIf="orden.tipoRetiro === 'Envio'" class="form-group m-2">
                      <label for="direccionEnvio">Dirección de envío</label>
                      <input type="text" class="form-control" id="direccionEnvio" [(ngModel)]="envio.direccion" placeholder="Ingrese dirección de envío">
                    </div>
                    <div class="form-group m-2">
                      <strong>Total a pagar: ${{grandTotal}}</strong>
                    </div>
                    <button [disabled]="!orden.tipoRetiro" class="btn btn-primary m-2" (click)="procesarOrden()">  Procesar orden <i class="fa-solid fa-check"></i></button>
                </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="products.length ==0">
    <div class="container">
        <div class="card">
            <h5 class="card-title">My Cart</h5>
        </div>
        <div class="center">
            <img src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90" alt="">
            <h4>Your cart is empty!</h4>
            <h6>Add item to it now</h6>
            <button [routerLink]="['/home']" class="btn btn-primary">Shop Now</button>
        </div>
    </div>
</ng-container>


