
<form #actProduct="ngForm" class="col-md-6 mr-auto ml-auto card shadow-sm rounded">
    <h1>Actualizar Producto</h1>
    <div class="form-group">
      <label>Nombre</label>
      <input class="form-control" type="text" name="nombre"
        #nombre="ngModel" [(ngModel)]="producto.nombre" required pattern="[a-zA-Z ]+">
      <small *ngIf="!nombre.valid && nombre.touched" class="invalid-feedback d-block">Utilice solo letras</small>
    </div>

    <div class="form-group">
      <label>Precio unitario</label>
      <input class="form-control" type="number" name="precioUnitario"
        #precioUnitario="ngModel" [(ngModel)]="producto.precioUnitario" required pattern="[0-9]+">
      <small></small>
    </div>

    <div class="form-group">
      <label>Stock</label>
      <input class="form-control" type="number" name="stock"
        #stock="ngModel" [(ngModel)]="producto.stock" required pattern="[0-9]+">
      <small></small>
    </div>

    <div class="form-group">
      <label>Categoria</label><br>
      <select name="categoria" class="form-control" #categoria="ngModel" [(ngModel)]="producto.categoria" required>
        <option [value]="null" disabled selected>Seleccione</option>
        <option *ngFor="let categoria of categorias" [value]="categoria.idCategoria">{{ categoria.nombre }}</option>
      </select>       
    </div> 

    <div class="form-group">
      <label>Proveedor</label><br>
      <select name="proveedor" class="form-control" #proveedor="ngModel" [(ngModel)]="producto.proveedor" required>
        <option [value]="null" disabled selected>Seleccione</option>
        <option *ngFor="let proveedor of proveedores" [value]="proveedor.idProveedor">{{ proveedor.nombreCompania }}</option>
      </select>       
    </div>  

    <div class="form-group">
        <input type="file" class="file-input" (change)="uploadImage($event)" #fileUpload required/>
        <button class="upload-btn" (click)="fileUpload.click()">
            <i class="fas fa-upload">+</i>           
        </button> {{fileName || "Archivo no ha sido seleccionado"}}
      <small></small>
    </div>
    <div class="btn-container">
    <input type="submit" value="Actualizar" class="btn btn-success" 
       (click)="onSubmit(actProduct)" [disabled]="actProduct.invalid" />
    <button class="btn btn-danger" style= "margin: 5px;" [routerLink]="['/producto']">Cancelar</button>
    </div>
  </form>
