
<form class="col-md-6 mr-auto ml-auto card shadow-sm rounded" #registrarForm="ngForm" (ngSubmit)="onSubmit(registrarForm)">
    <h1>Registre su numero de telefono</h1>
    <br>
    <div class="form-group">
        <label>Numero Telefono</label>
        <input type="text" name="numTelefono"  class="form-control"
        required pattern="[0-9]+" [(ngModel)]="telefonoCliente.numTelefono">
    </div> 
    <div class="btn-container">
      <input type="submit" value="Registrar" class="btn btn-success" style= "margin: 5px;" [disabled]="registrarForm.invalid">
      <button class="btn btn-danger" style= "margin: 5px;" [routerLink]="['/cliente-datos']">Cancelar</button>
    </div>
  </form>
  

