<div class="container">
    <div>
    <select class="form-control searchByCat shadow-sm rounded" [(ngModel)]="searchText">
      <option value="">Todas las categorías</option>
      <option *ngFor="let category of categorias">{{ category.nombre }}</option>
    </select>
    </div>
    <br>
    <div class="row">
      <ng-container *ngFor="let item of productList  | search: searchText">
          <mat-card class="card col-md-3 m-2 mat-card-hover">
            <mat-card-header>
              <mat-card-title>{{item.nombre}}</mat-card-title>
              <mat-card-subtitle>{{ item.categoria.nombre}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{url+'producto/getimage/'+item.image}}"  alt="">
            <mat-card-content>
              <p><strong>Precio:</strong> ${{item.precioUnitario}}</p>
              <p><strong>Stock:</strong> {{item.stock}}</p>

            </mat-card-content>
            <mat-card-actions>
              <button mat-button color="primary" (click)="addtocart(item)">COMPRAR</button> 
            </mat-card-actions>
          </mat-card>
      </ng-container>
    </div>
</div>
 