<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 p-0">
            <div class="sidebar">
                <h2 class="store-title">
                  <a class="nav-link"[routerLink]="['/home']">
                    <i class="fas fa-home home-icon"> </i> 
                      Tienda
                  </a>
                </h2>
                <hr>
                <nav class="nav flex-column">
                  <a *ngIf="!identity" class="nav-link" [routerLink]="['/login']">
                    <i class="fas fa-sign-in-alt"></i> 
                      Login
                  </a>
                  <a *ngIf="identity?.tipoUsuario=='admin'" class="nav-link" [routerLink]="['/empleado']">
                    <i class="fas fa-user"></i>
                      Empleados
                  </a>
                  <a *ngIf="identity?.tipoUsuario=='admin'" class="nav-link" [routerLink]="['/cliente']">
                    <i class="fas fa-users"></i>
                      Clientes
                  </a>
                  <a *ngIf="identity?.tipoUsuario=='admin'" class="nav-link" [routerLink]="['/usuario']">
                    <i class="fas fa-users"></i>
                      Usuarios
                  </a>
                  <a *ngIf="identity?.tipoUsuario=='admin' || identity?.tipoUsuario=='empleado'" class="nav-link" [routerLink]="['/envio']">
                    <i class="fas fa-shipping-fast"></i>
                      Envíos
                  </a>
                  <a *ngIf="identity?.tipoUsuario=='admin' || identity?.tipoUsuario=='empleado' " class="nav-link" [routerLink]="['/proveedor']">
                    <i class="fas fa-truck"></i>
                      Proveedor
                  </a>
                  <a *ngIf="identity?.tipoUsuario=='admin' || identity?.tipoUsuario=='empleado' " class="nav-link" [routerLink]="['/categoria']">
                    <i class="fas fa-tag"></i>
                      Categoría
                  </a>
                  <a *ngIf="identity?.tipoUsuario=='admin' || identity?.tipoUsuario=='empleado' " class="nav-link" [routerLink]="['/vehiculo']">
                    <i class="fas fa-car"></i>
                      Vehiculo
                  </a>
                  <a *ngIf="identity?.tipoUsuario=='admin' || identity?.tipoUsuario=='empleado' " class="nav-link" [routerLink]="['/orden']">
                    <i class="fas fa-shopping-bag"></i>
                      Ordenes
                  </a>
                  <a *ngIf="identity?.tipoUsuario=='admin' || identity?.tipoUsuario=='empleado' " class="nav-link" [routerLink]="['/producto']">
                    <i class="fas fa-laptop"></i>
                      Producto
                  </a>
                  <a *ngIf="identity?.tipoUsuario=='cliente'" class="nav-link" [routerLink]="['/cart']">
                    <i class="fas fa-cart-shopping"></i>
                      Cart
                  </a>
                  <a *ngIf="identity?.tipoUsuario=='cliente'" class="nav-link" [routerLink]="['/orden']">
                    <i class="fas fa-shopping-bag"></i>
                      Mis ordenes
                  </a>
                  <a *ngIf="identity?.tipoUsuario=='cliente'" class="nav-link" [routerLink]="['/cliente-datos']">
                    <i class="fas fa-address-card"></i>
                      Mi cuenta
                  </a>
                  <a type="button" *ngIf="identity" class="nav-link" (click)="logout()">
                    <i class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
                  </nav>
                  
            </div>
        </div>
        <div class="col-md-9">
            <!-- Contenido principal de la página -->
            <div class="content">
                <router-outlet></router-outlet>
            </div>
            <app-bot></app-bot>
        </div>
    </div>
</div>
<h2 *ngIf="identity" class="userLogged"><i class="far fa-user"></i> {{identity.nombreUsuario}}</h2>

<button class="btnInfo" (click)="openModal()"><i class="fas fa-info-circle"></i></button>


<div id="myModal" [ngClass]="{'modal': true, 'show': modalOpen}">
  <div class="modal-content">
    <button class="btnCloseModal" (click)="closeModal()"><i class="fas fa-times"></i></button>
      <h1>Desarrolladores</h1>
      <h2><i class="fas fa-user"></i>  Jordy Palacios Brown</h2>
      <h2><i class="fas fa-user"></i>  José Francisco Ortiz</h2>
      <h2><i class="fas fa-user"></i>  Henry Vargas Montiel</h2>
  </div>
</div>


  
