<div class ="main">

<div class="login">
  <h1>LOG IN</h1>
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">

    <div class="user-box">
      <input type="text"  name="nombreUsuario" required #nombreUsuario="ngModel" [(ngModel)]="usuario.nombreUsuario" >
      <label>Username</label>
    </div>

    <div class="user-box">
      <input type="{{ mostrarContrasena ? 'text' : 'password' }}" name="password" [(ngModel)]="usuario.password" required #password="ngModel"  required pattern="[0-9]+">
      <label for="password">Password</label>
      <button type="button" class="show-password-button" (click)="toggleMostrarContrasena()">
        <i class="fas" [ngClass]="mostrarContrasena ? 'fa-eye-slash' : 'fa-eye'"></i>
      </button>
    </div>
    <button class="btn-login" type="submit" >
      <span></span>
      <span></span>
      <span></span>
      login
    </button>
    <div class="register">   
      ¿No tienes una cuenta? <a [routerLink]="['/registro']">Regístrate</a>
    </div>
  </form>
</div>
  
</div>
