
<form class="col-md-6 mr-auto ml-auto card shadow-sm rounded" #actualizarForm="ngForm" (ngSubmit)="updateUsuario(actualizarForm)">
    <h1>Cambio de contraseña</h1>
    <br>
    <div class="form-group">
        <label>Usuario</label>
        <input type="text" name="nombreUsuario"  class="form-control"
         [(ngModel)]="usuario.nombreUsuario">
    </div> 
    <div class="form-group">
        <label>Nueva contraseña</label>
        <input type="password" name="password"  class="form-control"
         [(ngModel)]="usuario.password" placeholder="Ingrese nueva contraseña" required>
    </div> 
    <div class="form-group">
        <label>Confirmar contraseña</label>
        <input type="password" name="password"  class="form-control"
         [(ngModel)]="password" placeholder="Confirmar contraseña" required>
    </div> 
    <div class="btn-container">
      <input type="submit" value="Actualizar" class="btn btn-success" style= "margin: 5px;" [disabled]="actualizarForm.invalid">
      <button class="btn btn-danger" style= "margin: 5px;" [routerLink]="['/cliente-datos']">Cancelar</button>
    </div>
</form>

