<!-- 
<form class="col-md-6 mr-auto ml-auto card shadow-sm rounded" #registroForm="ngForm" (ngSubmit)="onSubmit(registroForm)">
    <h1>Registrar datos de categoria</h1>
    <br>
    <div class="form-group">
        <label>Nombre</label>
        <input type="text" name="nombre"  class="form-control"
        required pattern="[a-zA-Z ]+" [(ngModel)]="categoria.nombre">
    </div>
    <br>
    <div class="form-group">
        <label>Descripcion</label>
        <input type="text" name="numTelefono"  class="form-control"
        required pattern="[a-zA-Z ]+" [(ngModel)]="categoria.descripcion">
    </div>
    <div class="btn-container">
      <input type="submit" value="Registrar" class="btn btn-success" style= "margin: 5px;" [disabled]="registroForm.invalid">
      <button class="btn btn-danger" style= "margin: 5px;" [routerLink]="['/categoria']">Cancelar</button>
    </div>
  </form>
   -->